<script type="text/javascript">

/*
* Convert arbitrary strings to valid css classes.
* via: https://gist.github.com/mathewbyrne/1280286
*
* NOTE: This implementation must be consistent with the Python classify
* function defined in base_filters.py.
*/
var classify = function(str) {
	return str.toLowerCase()
			.replace(/\s+/g, '-')           // Replace spaces with -
			.replace(/[^\w\-]+/g, '')       // Remove all non-word chars
			.replace(/\-\-+/g, '-')         // Replace multiple - with single -
			.replace(/^-+/, '')             // Trim - from start of text
			.replace(/-+$/, '');            // Trim - from end of text
}

/*
* Convert key/value pairs to a style string.
*/
var formatStyle = function(props) {
	var s = '';

	for (var key in props) {
			s += key + ': ' + props[key].toString() + '; ';
	}

	return s;
}

/*
* Create a SVG tansform for a given translation.
*/
var makeTranslate = function(x, y) {
	var transform = d3.transform();

	transform.translate[0] = x;
	transform.translate[1] = y;

	return transform.toString();
}

/*
* Parse a url parameter by name.
* via: http://stackoverflow.com/a/901144
*/
var getParameterByName = function(name) {
	name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
			results = regex.exec(location.search);
	return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

/*
* Convert a url to a location object.
*/
var urlToLocation = function(url) {
	var a = document.createElement('a');
	a.href = url;
	return a;
}

$(document).ready(function() {
	var graphicData = [
  {
    "date": 1990,
    "Black": 0.609,
    "Asian": 0.876,
    "Latino": 0.687,
    "White": 0.83
  },
  {
    "date": 1991,
    "Black": 0.603,
    "Asian": 0.89,
    "Latino": 0.696,
    "White": 0.813
  },
  {
    "date": 1992,
    "Black": 0.715,
    "Asian": 0.884,
    "Latino": 0.708,
    "White": 0.83
  },
  {
    "date": 1993,
    "Black": 0.641,
    "Asian": 0.871,
    "Latino": 0.692,
    "White": 0.815
  },
  {
    "date": 1994,
    "Black": 0.574,
    "Asian": 0.885,
    "Latino": 0.734,
    "White": 0.847
  },
  {
    "date": 1995,
    "Black": 0.671,
    "Asian": 0.877,
    "Latino": 0.725,
    "White": 0.83
  },
  {
    "date": 1996,
    "Black": 0.649,
    "Asian": 0.879,
    "Latino": 0.733,
    "White": 0.856
  },
  {
    "date": 1997,
    "Black": 0.74,
    "Asian": 0.896,
    "Latino": 0.765,
    "White": 0.865
  },
  {
    "date": 1998,
    "Black": 0.722,
    "Asian": 0.906,
    "Latino": 0.766,
    "White": 0.853
  },
  {
    "date": 1999,
    "Black": 0.704,
    "Asian": 0.908,
    "Latino": 0.769,
    "White": 0.866
  },
  {
    "date": 2000,
    "Black": 0.736,
    "Asian": 0.92,
    "Latino": 0.825,
    "White": 0.887
  },
  {
    "date": 2001,
    "Black": 0.701,
    "Asian": 0.915,
    "Latino": 0.8,
    "White": 0.875
  },
  {
    "date": 2002,
    "Black": 0.755,
    "Asian": 0.932,
    "Latino": 0.81,
    "White": 0.896
  },
  {
    "date": 2003,
    "Black": 0.75,
    "Asian": 0.942,
    "Latino": 0.836,
    "White": 0.897
  },
  {
    "date": 2004,
    "Black": 0.758,
    "Asian": 0.942,
    "Latino": 0.859,
    "White": 0.901
  },
  {
    "date": 2005,
    "Black": 0.714,
    "Asian": 0.935,
    "Latino": 0.811,
    "White": 0.918
  },
  {
    "date": 2006,
    "Black": 0.781,
    "Asian": 0.939,
    "Latino": 0.82,
    "White": 0.914
  },
  {
    "date": 2007,
    "Black": 0.8,
    "Asian": 0.945,
    "Latino": 0.843,
    "White": 0.908
  },
  {
    "date": 2008,
    "Black": 0.76,
    "Asian": 0.939,
    "Latino": 0.853,
    "White": 0.915
  },
  {
    "date": 2009,
    "Black": 0.788,
    "Asian": 0.943,
    "Latino": 0.851,
    "White": 0.911
  }
]
	// Global config
	var $graphic = $('#graduation-graphic');
	var GRAPHIC_DEFAULT_WIDTH = 600;
	var MOBILE_THRESHOLD = 500;
	// Global vars
	var isMobile = false;
	// D3 formatters
	var fmtYearAbbrev = d3.time.format('%y');
	var fmtYearFull = d3.time.format('%Y');
	var fmtMonthYear = d3.time.format("%b '%y");

	/*
	 * Format graphic data for processing by D3.
	 */
	var formatData = function() {
	    graphicData.forEach(function(d) {
	        d['date'] = d3.time.format('%Y').parse(d['date'].toString());
	        for (var key in d) {
	            if (key != 'date') {
	                d[key] = +d[key] * 100;
	            }
	        }
	    });
	}
	/*
	 * Render the graphic.
	 */
	 var renderGraduationChart = function() {
		var containerWidth = $graphic.width();
	    if (!containerWidth) {
	        containerWidth = GRAPHIC_DEFAULT_WIDTH;
	    }
	    if (containerWidth <= MOBILE_THRESHOLD) {
	        isMobile = true;
	    } else {
	        isMobile = false;
	    }
	    // Render the chart!
	    renderLineChart({
	        container: '#graduation-graphic',
	        width: containerWidth,
	        data: graphicData,
	    });
	}
	/*
	 * Render a line chart.
	 */
	var renderLineChart = function(config) {
	    /*
	     * Setup
	     */
	    var dateColumn = 'date';
	    var valueColumn = 'amt';
	    var aspectWidth = isMobile ? 4 : 5;
	    var aspectHeight = isMobile ? 3 : 2;
	    var margins = {
	        top: 5,
	        right: 5,
	        bottom: 20,
	        left: 40
	    };
	    var ticksX = 12;
	    var ticksY = 5;
	    var roundTicksFactor = 10;
	    // Mobile
	    if (isMobile) {
	        ticksX = 5;
	    }
	    // Calculate actual chart dimensions
	    var chartWidth = config['width'] - margins['left'] - margins['right'];
	    var chartHeight = Math.ceil((config['width'] * aspectHeight) / aspectWidth) - margins['top'] - margins['bottom'];
	    // Clear existing graphic (for redraw)
	    var containerElement = d3.select(config['container']);
	    containerElement.html('');
	    var formattedData = {};
	    /*
	     * Restructure tabular data for easier charting.
	     */

			var data_one = {};
 			var data_two = {};
			var cutoff = d3.time.format('%Y').parse('1998');

	    for (var column in graphicData[0]) {
	        if (column == dateColumn) {
	            continue;
	        }
	        formattedData[column] = graphicData.map(function(d) {
	            return {
	                'date': d[dateColumn],
	                'amt': d[column]
	            };
	        });
	    }

			for (var column in formattedData) {
				data_one[column] = [];
				data_two[column] = [];
				formattedData[column].forEach(function(d) {
					if (d[dateColumn] < cutoff) {
						data_one[column].push(d);
					} else {
						data_two[column].push(d);
					}
				})
			}

	    /*
	     * Create D3 scale objects.
	     */
	    var xScale = d3.time.scale()
	        .domain(d3.extent(config['data'], function(d) {
	            return d[dateColumn];
	        }))
	        .range([ 0, chartWidth ])
	    var yScale = d3.scale.linear()
	        .domain([ 55, d3.max(d3.entries(formattedData), function(c) {
	                return d3.max(c['value'], function(v) {
	                    var n = v[valueColumn];
	                    return Math.ceil(n / roundTicksFactor) * roundTicksFactor;
	                });
	            })
	        ])
	        .range([ chartHeight, 0 ]);

	    var colorScale = d3.scale.ordinal()
	        .domain(d3.keys(config['data'][0]).filter(function(key) {
	            return key !== dateColumn;
	        }))
	        .range(['#a6cee3','#1f78b4','#33a02c','#fb9a99']);
	    /*
	     * Render the HTML legend.
	     */
	    var legend = containerElement.append('ul')
	        .attr('class', 'key')
	        .selectAll('g')
	            .data(d3.entries(formattedData))
	        .enter().append('li')
	            .attr('class', function(d, i) {
	                return 'key-item key-' + i + ' ' + classify(d['key']);
	            });
	    legend.append('b')
	        .style('background-color', function(d) {
	            return colorScale(d['key']);
	        });
	    legend.append('label')
	        .text(function(d) {
	            return d['key'];
	        });
	    /*
	     * Create the root SVG element.
	     */
	    var chartWrapper = containerElement.append('div')
	        .attr('class', 'graphic-wrapper');
	    var chartElement = chartWrapper.append('svg')
	        .attr('width', chartWidth + margins['left'] + margins['right'])
	        .attr('height', chartHeight + margins['top'] + margins['bottom'])
	        .append('g')
	        .attr('transform', 'translate(' + margins['left'] + ',' + margins['top'] + ')');
	    /*
	     * Create D3 axes.
	     */
	    var xAxis = d3.svg.axis()
	        .scale(xScale)
	        .orient('bottom')
	        .ticks(ticksX)
	        .tickFormat(function(d, i) {
	            if (isMobile) {
	                return '\u2019' + fmtYearAbbrev(d);
	            } else {
	                return fmtYearFull(d);
	            }
	        });
	    var yAxis = d3.svg.axis()
	        .scale(yScale)
	        .orient('left')
	        .ticks(ticksY)
					.tickFormat(function(d) {
	            return d.toString() + '%';
	        });
	    /*
	     * Render axes to chart.
	     */
	    chartElement.append('g')
	        .attr('class', 'x axis')
	        .attr('transform', makeTranslate(0, chartHeight))
	        .call(xAxis);
	    chartElement.append('g')
	        .attr('class', 'y axis')
	        .call(yAxis);
	    /*
	     * Render grid to chart.
	     */
	    var xAxisGrid = function() {
	        return xAxis;
	    }
	    chartElement.append('g')
	        .attr('class', 'x grid')
	        .attr('transform', makeTranslate(0, chartHeight))
	        .call(xAxisGrid()
	            .tickSize(-chartHeight, 0, 0)
	            .tickFormat('')
	        );

	    /*
	     * Render lines to chart.
	     */
	    var line = d3.svg.line()
	    		.interpolate('monotone')
	        .x(function(d) {
	            return xScale(d[dateColumn]);
	        })
	        .y(function(d) {
	            return yScale(d[valueColumn]);
	        });

	    chartElement.append('g')
	        .attr('class', 'lines')
	        .selectAll('path')
	        .data(d3.entries(formattedData))
	        .enter()
	        .append('path')
	            .attr('class', function(d, i) {
	                return 'line line-' + i + ' ' + classify(d['key']);
	            })
	            .attr('stroke', function(d) {
	                return colorScale(d['key']);
	            })
	            .attr('d', function(d) {
	                return line(d['value']);
	            });

	}
	/*
	 * Initially load the graphic
	 */
	formatData();
 	renderGraduationChart();
	/*
	* Set up resize event listener
	*/
	$( window ).resize(function() {
	  renderGraduationChart();
	});
});
</script>
